In [29]:
import pandas as pd
import numpy as np
import datetime as dt

In [35]:
#Importing the Dataset
dataset = pd.read_csv('azure_wq_test_entire_dataset.csv', header=0, parse_dates=['datetime'])
# dataset = dataset.rename(columns={'actual_conductivity':'cond', 'total_dissolved_solids':'tds', 'do_concentration':'do', 'turbidity':'turb', 'chl-a_concentration':'chl-a', 'temperature':'temp'})
# dataset = dataset[['temp', 'cond', 'do', 'tds', 'turb', 'chl-a']
dataset.head()

             datetime      temp      cond        do      turb     chl-a
0 2019-02-20 12:00:00  29.55674  92.12651  6.491213  32.86783  39.64875
1 2019-02-20 12:10:00  29.59175  92.22813  6.724226  24.30492  40.57396
2 2019-02-20 12:20:00  29.57693  91.93182  6.677357  47.46174  40.88269
3 2019-02-20 12:40:00  29.64378  92.78736  7.629431  26.58170  47.05107
4 2019-02-20 14:40:00  29.67038  91.74003  8.935707  40.49232  59.39921

In [36]:
#Year, Month, Day, Day of Week,  Day of Year, Quarter of Year, Week of Month, Hour, Minute, Second

dataset['year'] = dataset['datetime'].dt.year
dataset['month'] = dataset['datetime'].dt.month
dataset['day'] = dataset['datetime'].dt.day
dataset['day_of_week'] = dataset['datetime'].dt.dayofweek
dataset['day_of_year'] = dataset['datetime'].dt.dayofyear
dataset['quarter'] = dataset['datetime'].dt.quarter
dataset['hour'] = dataset['datetime'].dt.hour
dataset['minute'] = dataset['datetime'].dt.minute
dataset['second'] = dataset['datetime'].dt.second

dataset = dataset[['datetime', 'year', 'month', 'day', 'day_of_week', 'day_of_year', 'quarter', 'hour', 'minute', 'second', 'temp', 'cond', 'do', 'turb', 'chl-a']]

dataset = dataset.drop(['datetime'], axis=1)

In [37]:
#Check the dataframe
dataset.head()

,year,month,day,day_of_week,day_of_year,quarter,hour,minute,second,temp,cond,do,turb,chl-a
0,2019,2,20,2,51,1,12,0,0,29.55674,92.12651,6.491213,32.86783,39.64875
1,2019,2,20,2,51,1,12,10,0,29.59175,92.22813,6.724226,24.30492,40.57396
2,2019,2,20,2,51,1,12,20,0,29.57693,91.93182,6.677357,47.46174,40.88269
3,2019,2,20,2,51,1,12,40,0,29.64378,92.78736,7.629431,26.58170,47.05107
4,2019,2,20,2,51,1,14,40,0,29.67038,91.74003,8.935707,40.49232,59.39921

In [38]:
#export to a csv
dataset.to_csv("feature_engineered_test_dataset.csv")