In [1]:
import pandas as pd
import numpy as np

In [2]:
#Importing the Dataset
dataset = pd.read_csv('azure_wq_train_entire_dataset.csv', header=0, index_col=0)
# dataset = dataset.rename(columns={'actual_conductivity':'cond', 'total_dissolved_solids':'tds', 'do_concentration':'do', 'turbidity':'turb', 'chl-a_concentration':'chl-a', 'temperature':'temp'})
# dataset = dataset[['temp', 'cond', 'do', 'tds', 'turb', 'chl-a']]
dataset.sort_index()
dataset.head()

                         temp       cond        do       turb      chl-a
datetime
2019-03-28 00:43:09  30.67318   94.64645  7.890586   34.89499  329.58420
2019-03-13 03:58:05  29.37799   88.46648  2.994163   28.22379   75.43412
2019-03-12 01:38:05  29.63066   87.79338  3.759133   27.81244   61.83861
2019-03-27 11:33:09  30.25711   94.01340  7.265454   59.38213  328.57310
2019-10-03 10:43:09  28.85477  113.77930  5.524088  111.27610  738.35680