In [19]:
import pandas as pd
import numpy as np
import datetime as dt

In [24]:
#Importing the Dataset
dataset = pd.read_csv('azure_wq_train_entire_dataset.csv', header=0, parse_dates=['datetime'])
# dataset = dataset.rename(columns={'actual_conductivity':'cond', 'total_dissolved_solids':'tds', 'do_concentration':'do', 'turbidity':'turb', 'chl-a_concentration':'chl-a', 'temperature':'temp'})
# dataset = dataset[['temp', 'cond', 'do', 'tds', 'turb', 'chl-a']
dataset.head()

             datetime      temp       cond        do       turb      chl-a
0 2019-03-28 00:43:09  30.67318   94.64645  7.890586   34.89499  329.58420
1 2019-03-13 03:58:05  29.37799   88.46648  2.994163   28.22379   75.43412
2 2019-03-12 01:38:05  29.63066   87.79338  3.759133   27.81244   61.83861
3 2019-03-27 11:33:09  30.25711   94.01340  7.265454   59.38213  328.57310
4 2019-10-03 10:43:09  28.85477  113.77930  5.524088  111.27610  738.35680

In [25]:
#Year, Month, Day, Day of Week,  Day of Year, Quarter of Year, Week of Month, Hour, Minute, Second

dataset['year'] = dataset['datetime'].dt.year
dataset['month'] = dataset['datetime'].dt.month
dataset['day'] = dataset['datetime'].dt.day
dataset['day_of_week'] = dataset['datetime'].dt.dayofweek
dataset['day_of_year'] = dataset['datetime'].dt.dayofyear
dataset['quarter'] = dataset['datetime'].dt.quarter
dataset['hour'] = dataset['datetime'].dt.hour
dataset['minute'] = dataset['datetime'].dt.minute
dataset['second'] = dataset['datetime'].dt.second

dataset = dataset[['datetime', 'year', 'month', 'day', 'day_of_week', 'day_of_year', 'quarter', 'hour', 'minute', 'second', 'temp', 'cond', 'do', 'turb', 'chl-a']]

dataset = dataset.drop(['datetime'], axis=1)

In [26]:
#Check the dataframe
dataset.head()

,year,month,day,day_of_week,day_of_year,quarter,hour,minute,second,temp,cond,do,turb,chl-a
0,2019,3,28,3,87,1,0,43,9,30.67318,94.64645,7.890586,34.89499,329.58420
1,2019,3,13,2,72,1,3,58,5,29.37799,88.46648,2.994163,28.22379,75.43412
2,2019,3,12,1,71,1,1,38,5,29.63066,87.79338,3.759133,27.81244,61.83861
3,2019,3,27,2,86,1,11,33,9,30.25711,94.01340,7.265454,59.38213,328.57310
4,2019,10,3,3,276,4,10,43,9,28.85477,113.77930,5.524088,111.27610,738.35680

In [28]:
#export to a csv
dataset.to_csv("feature_engineered_dataset.csv")